* {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

html {
    height: 100%;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* Navbar */
navbar {
    display: block;
    height: 10%;
    padding: .5em;

    background-color: #00080AA0;
    backdrop-filter: blur(4px);
    color: gainsboro;
    
    font-size: 1.5em;
}

/* Login */
#login-box {
    width: 25%;
    min-width: 500px;
    height: 10%;
    margin: 20% auto;
    padding: 1em 1em;

    background-color: #00080AA0;
    color:gainsboro;
    border-radius: 15px;
    backdrop-filter: blur(4px);
}

#login-form {
    margin: 0;
    padding: 0;
}

#login-box > *, 
#login-box > * > * {
    display: block;
    width: 100%;
}

/* Login Inputs */
#login-form > label {
    margin-top: .5em;
}

#login-form > input {
    border-style: none;
    height: 1.5em;
    padding-left: .5em;

}

/* Login Button */
#login-button {
    margin-top: 1em;
    height: 2em;
}

/* Login Inputs & Button */
#login-form > input,
#login-button {
    border-style: none;
    border-radius: 5px;
}